h1{
    font-family: 'Dancing Script';

}
.carousel-item img{
    width: 70%;
    height: 85vh;
}

.card-body img{
    width: 50%;
    height: 200px;
}

.zoo{
    padding-left: 2%;
   
}
.up{
    padding-left: 92%;
    margin-top: -20%;
}

.yo{
    margin-top: -3%;
    margin-bottom: 5%;
   
}
.modal-body{
    
    color: azure;
    background-image: url(o2.jpg);
    padding-right: 25%;
    
    
}

.soo{
    width: 180%;
    padding-right: 25%;
    box-shadow: 0px 0px 1px rgba(255, 0, 0, 0.92);
    border-color: red;
}

.modal-titles{
    padding-left: 43.5%;
}


.koo{
    background-image: url(k1.jpg);
}


.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #00c8ff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    height: 6vh;
    width: 44%;
  }
  
  .bn36 {
    border-color: #00eeff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  
  .bn36:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }